@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="hero">
    <div class="hero-left">
        <img src="/imgs/left_img1.jpg"/>
    </div>
    <div class="hero-right">
        <img src="/imgs/right.jpg" />
    </div>
</div>

<div class="cards">
    <div class="card">
        <div class="card-img">
            <img src="/imgs/converse.png" alt="product image">
        </div>
        <div class="card-content">
            <h3 class="product-name">Product Name</h3>
            <div class="price">$19.99</div>
        </div>
    </div>
    <div class="card">
        <div class="card-img">
            <img src="product.jpg" alt="product image">
        </div>
        <div class="card-content">
            <h3 class="product-name">Product Name</h3>
            <div class="price">$19.99</div>
        </div>
    </div>
    <div class="card">
        <div class="card-img">
            <img src="product.jpg" alt="product image">
        </div>
        <div class="card-content">
            <h3 class="product-name">Product Name</h3>
            <div class="price">$19.99</div>
        </div>
    </div>
</div>